<!DOCTYPE html>
{% extends 'genre/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Hey buddy u almost there </h1>
</head>
<body>
{% block content %}
    {% for genreobj in object_list %}
        <div align="center">
           <img src="{{genreobj.collcover}}" height="200" width="200">
           <h2><a href="{{genreobj.id}}/">{{genreobj.Collection_name}}</a></h2>
           <h3>{{genreobj.description}}</h3>
           <br/>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>